{{#each this}}
  <li class='movie-card__item'>
    <img
      class='movie-card__img'
      src='{{addBaseUrl poster_path}}'
      alt='Poster {{title}}'
      width='100%'
      data-id='{{id}}'
      loading='lazy'
      onerror="this.onerror=null;this.src='https://github.com/Yaroslav12002/goit-js-hw-11-add/blob/main/src/images/no-image-placeholder.png?raw=true';"
    />
    <div class='movie-card__thumb'>
      <h2 class='movie-card__title'>{{title}}</h2>
      <p class='movie-card__text'>
        <span class='movie-card__genre'>{{getGenres genre_ids}}</span>|<span
          class='movie-card__year'
        >{{takeYearFromDate release_date}}</span>
        <span class='movie-card__vote_average'>{{trunc vote_average}}</span>
      </p>
    </div>
  </li>
{{/each}}